@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&family=Allison&family=Raleway:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --accent-color: #116dff;
  --text-secondary: #2f2f2f;
  --dark-accent: #14348e;
  --light-accent: #08a4bd;
  --border-color: #c9c9c9;
  --label-color: #878787;
  --accent-dark: #e28413;
  --dark-background: #000022;
  --dark-background-alt: #2d304e;
  --header-font: "Arvo", serif;
  --text-font: "Raleway", sans-serif;
}

/* ANIMATIONS */

@keyframes collapseCover {
  from {
    transform: scaleX(100%);
  }
  to {
    transform: scaleX(0%);
  }
}

.collapseCover {
  animation-fill-mode: both;
  animation-name: collapseCover;
  animation-timing-function: cubic-bezier(0.14, 0.54, 0.6, 1);
}

@keyframes lightsOut {
  from {
    background-color: white;
  }
  to {
    background-color: #000022;
  }
}

.lightsOut {
  animation-fill-mode: forwards;
  animation-name: lightsOut;
  animation-timing-function: cubic-bezier(0.14, 0.54, 0.6, 1);
}

.area {
  position: absolute;
  top: 0;
  left: 70%;
  overflow: visible;
  width: 200px;
  height: 600px;
  animation: swing 1s infinite ease-in-out alternate;
  transform: translateX(0);
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
}

.wire {
  position: relative;
  left: 98px;
  width: 4px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
}

.fixture {
  position: relative;
  left: 92px;
  width: 16px;
  height: 20px;
  background-color: grey;
}

.strip {
  position: relative;
  top: 4px;
  right: 1px;
  width: 18px;
  height: 2px;
  background-color: darkgrey;
}

.strip:nth-of-type(2) {
  top: 7px;
}

.strip:nth-of-type(3) {
  top: 10px;
}

.bulb {
  position: relative;
  z-index: 2;
  bottom: 2px;
  left: 80px;
  width: 40px;
  height: 40px;
  background-color: rgba(226, 211, 161, 0.85);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 300px 77px rgba(235, 209, 164, 1);
  -moz-box-shadow: 0 0 300px 77px rgba(235, 209, 164, 1);
  box-shadow: 0 0 300px 77px rgba(235, 209, 164, 1);
}

.zig {
  position: relative;
  left: 14px;
  width: 10px;
  height: 5px;
  border: black solid 1px;
  background-color: transparent;
  border-radius: 5px / 2.5px;
}

.zig:nth-of-type(2) {
  top: -3px;
}

.zig:nth-of-type(3) {
  top: -6px;
}

@keyframes swing {
  from {
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-3deg);
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.progress {
  animation: progress;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.26, 0.86, 0.6, 1);
}

@media only screen and (max-width: 600px) {
  .area {
    left: 10%;
  }
}
