main {
    width: 100%;
    height: calc( 100vh - 80px );
    min-height: 840px;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

main h1 {
    margin-top: 7vh;

    font-family: 'Maven Pro', sans-serif;
    font-size: 85px;

    text-align: center;
}

main h2 {
    margin-top: 1vh;

    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /*color: var( --text-secondary );*/

    text-align: center;
}

main button {
    outline: none;
    border: none;
    
    margin-top: 2vh;
    padding: 15px 30px;
    
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;

    color: white;
    background-color: var( --accent-color );
    border-radius: 30px;

    cursor: pointer;
}

main img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

#mainImage {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 40vw;

    transform: translateX( -50% );
}

#imageLeft {
    position: absolute;
    
    bottom: 7vh;
    width: 13vw;

    transform: translateX( -220% );
}

#imageRightOne {
    position: absolute;
    bottom: 5vh;
    width: 20vw;

    transform: translateX( 125% );
}

#imageRightTwo {
    position: absolute;
    bottom: 20vh;
    width: 14vw;

    transform: translateX( 210% );
}

#aboutSection {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutSection #blueBox {
    width: auto;
    height: 100%;
    padding: 2vh 0;

    background-color: var( --dark-accent );
    flex-grow: 1.5;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#aboutSection img {
    width: 30vw;
    height: 30vw;
    
    top: 0;
    bottom: 0;

    transform: translateX( 50% );
}

#aboutSection #content {
    width: auto;
    box-sizing: border-box;
    padding: 3vh 5vw 3vh 20vw;
    min-height: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 2;
}

.textCover {
    display: block;
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;

    transform-origin: 100% 0;

    background-color: black;
    z-index: 5;
}

.textCoverReverse {
    transform-origin: 0% 0;
}

#aboutSection h2, #skillsSection h2 {
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    font-size: 46px;

    margin: 1vh 0;
}

#aboutSection p, #skillsSection p {
    position: relative;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 33px;
}

#skillsSection {
    width: 100%;
    padding: 5vh 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

}

#skillsSection h2 {
    text-align: center;
}

#skillsSection p {
    text-align: center;
    margin: 1vh 0 3vh 0;
}

#skillsSection #gridView {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#skillsSection #gridView .gridContainer {
    width: 20vw;
    min-width: 300px;
    margin: 0 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contactSection {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contactSection #infoContainer {
    width: 40vw;
    padding: 5vh 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: auto;
    background-color: var( --light-accent );
}

#contactSection #infoContainer h3 {
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 22px;
}

#contactSection #infoContainer h5 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#contactSection #staticInfo {
    width: 30vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#contactSection #staticInfo h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 46px;
}

#contactSection #staticInfo h3 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 22px;
    line-height: 33px;
    color: var( --text-secondary );
}

#contactSection #staticInfo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: var( --accent-color );
}

footer {
    width: 100%;
    padding: 1vh 5vw;
    box-sizing: border-box;

    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid var( --border-color );
}

footer h3 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

footer h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    
    main {
        padding: 0 5%;
        box-sizing: border-box;
        min-height: 700px;
    }

    main h1 {
        font-size: 50px;
    }
    
    main h2 {
        font-size: 20px;
        line-height: 35px;
    }
    
    #mainImage {
        width: 90vw;
    }
    
    #imageLeft {
        left: 2%;
        bottom: 3vh;
        width: 20vw;
    
        transform: translateX( 0 );
    }
    
    #imageRightOne {
        left: 70%;
        bottom: 5vh;
        width: 30vw;
    
        transform: translateX( 0 );
    }
    
    #imageRightTwo {
        left: 78%;
        bottom: 12vh;
        width: 20vw;
    
        transform: translateX( 0 );
    }
    
    #aboutSection {
        flex-direction: column-reverse;
    }
    
    #aboutSection #blueBox {
        width: 100%;
        height: 45vw;
        padding: 0 2vw;
        box-sizing: border-box;
    
        flex-direction: column;
    }
    
    #aboutSection img {
        width: 75vw;
    
        transform: translateX( 0% ) translateY( 0% );
    }
    
    #aboutSection #content {
        width: 100%;
        padding: 5% 5%;
        min-height: auto;
        margin-bottom: 40vw;
    }
    
    #aboutSection h2, #skillsSection h2 {
        font-size: 40px;
    }
    
    #aboutSection p, #skillsSection p {
        font-size: 18px;
        line-height: 29px;
    }
    
    #skillsSection {
        width: 100%;
        padding: 5% 5%;
    }
    
    #skillsSection #gridView {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #skillsSection #gridView .gridContainer {
        width: 40vw;
        min-width: auto;
    }
    
    #contactSection {
        flex-direction: column-reverse;
    }
    
    #contactSection #infoContainer {
        width: 100vw;
        padding: 5vh 0;
    
        justify-content: flex-end;
        align-items: center;
    
        margin: 0;
    }
    
    #contactSection #staticInfo {
        width: 80vw;
        margin: 2vh 0;
    }
    
    #contactSection #staticInfo h2 {
        font-family: 'Maven Pro', sans-serif;
        font-size: 36px;
    }
    
    #contactSection #staticInfo h3 {
        font-family: 'Maven Pro', sans-serif;
        font-size: 20px;
        line-height: 30px;
        color: var( --text-secondary );
    }
    
    #contactSection #staticInfo a {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    footer {
        padding: 5%;
        flex-direction: column;
        justify-content: center;
    }
    
    footer h3 {
        font-size: 18px;
        text-align: center;
    }
    
    footer h4 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }

}