#about {
  position: relative;
  display: flex;
  width: 100%;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
}

#about #imageContainer {
  position: relative;
  display: flex;
  width: auto;
  box-sizing: border-box;
  flex-direction: row;
  flex-grow: 1.5;
  align-items: center;
  justify-content: flex-end;
  padding: 10vh 0;
}

.imageShadow {
  position: absolute;
  top: 10vh;
  width: 20vw;
  height: 20vw;
  background-color: #1900ff;
  border-radius: 100%;
}

#shOne {
  right: 1vw;
  opacity: 0.3;
}

#shTwo {
  right: 2vw;
  opacity: 0.2;
}

#shThree {
  right: 3vw;
  opacity: 0.1;
}

.aboutImage {
  width: 20vw;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
}

.rounded {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
}

#about #content {
  display: flex;
  width: auto;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 2;
  align-items: flex-start;
  justify-content: center;
  padding: 3vh 5vw 3vh 5vw;
}

#content p {
  max-width: 600px;
}

.textCover {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: black;
  opacity: 1 !important;
  transform-origin: 100% 0;
}

.textCoverReverse {
  transform-origin: 0% 0;
}

@media only screen and (max-width: 600px) {
  #about {
    flex-direction: column-reverse;
  }

  #about #imageContainer {
    display: block;
    width: 60vw;
    flex-grow: 1.5;
    padding: 0;
    margin: 0 auto 7vh auto;
    border-radius: 100%;
  }

  .imageShadow {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60vw;
    height: 60vw;
  }

  #shOne {
    top: 2vh;
    right: 0;
    bottom: 0;
  }

  #shTwo {
    top: 4vh;
    right: 0;
    bottom: 0;
  }

  #shThree {
    top: 6vh;
    right: 0;
    bottom: 0;
  }

  .aboutImage {
    width: 100%;
  }

  #about #content {
    width: 100%;
    min-height: auto;
    padding: 5% 5%;
    margin: 0 0 2vh 0;
  }

  #about h2,
  #skills h2 {
    font-size: 40px;
  }

  #about p,
  #skills p {
    font-size: 18px;
    line-height: 29px;
  }
}
