.skillContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1vh 0;
}

.skillContainer h4 {
  font-family: var(--text-font);
  font-size: 20px;
}

.skillContainer .skillBar {
  overflow: hidden;
  width: 100%;
  height: 20px;
  border: 3px solid #2d304e;
  margin: 0.5vh 0 0 0;
  background-color: rgba(155, 155, 155, 0.16);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.skillContainer .skillBar .skillBarFiller {
  overflow: hidden;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.skillContainer .skillBar .skillBarFiller .progressBar {
  position: relative;
  overflow: hidden;
  height: 20px;
  background: rgb(190, 58, 38);
  background: linear-gradient(
    40deg,
    rgba(190, 58, 38, 1) 0%,
    rgb(255, 255, 255) 90%
  );
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.skillContainer .skillBar .skillBarFiller .progressHead {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 600px) {
  .skillContainer h4 {
    font-size: 3.5vw;
  }
}
