.text_Title {
  position: relative;
  margin: 1vh 0;
  font-family: var(--header-font);
  font-size: 46px;
  font-weight: 700;
  text-transform: lowercase;
}

.text_Description {
  position: relative;
  font-family: var(--text-font);
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  text-align: justify;
  text-justify: inter-word;
}
